<div class="show_main">
  <div class="show_heading">
    <h1><%= @article.title %></h1>
    <%= link_to raw('<i class="fas fa-pencil-alt fa-lg"></i>'), edit_article_path %>
    <%= link_to raw('<i class="far fa-trash-alt fa-lg"></i>'), 
      article_path(@article),
      method: :delete,
      data: { confirm: "Delete #{@article.title}?" } %>
  </div>
  <hr>
  <p><%= @article.content %></p>
</div>

